@use 'sass:map';

.layout-center {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;

    // Prints background urls for all different breakpoints
    $previous: null;
    @each $breakpoint, $width in $grid-breakpoints {
        @if($width != 0) {
            @include media-breakpoint-up($previous) {
                background-image: url("/resources/images/bg.jpg?w=#{strip-unit($width)}");
            }
        }

        $previous: $breakpoint;
    }

    @include media-breakpoint-up('xxl') {
        background-image: url("/resources/images/bg.jpg");
    }

    .layout-center-container {
        width: 100%;
        max-width: 50rem;

        padding: 1rem;
        border-radius: .5rem;

        background-color: darken($body-bg, 3%);
    }
}